:root {
  --color-page: #f6f7fb;
  --color-surface: #ffffff;
  --color-text: #222738;
  --color-heading: #232938;
  --color-muted: #68718d;
  --color-subtle: #8790a8;
  --color-faint: #77809b;
  --color-border: #e0e3ec;
  --color-focus: #707bd4;
  --color-focus-ring: #707bd426;
  --color-element-text: #26303c;
  --color-element-label: #1f253180;
  --color-root: #f9cad3;
  --color-metadata: #ccd2f2;
  --color-text-level: #e6e6ad;
  --color-grouping: #f9c7ac;
  --color-forms: #c7e4b7;
  --color-sectioning: #d9db9c;
  --color-tabular: #efc8b6;
  --color-interactive: #e1d9e2;
  --color-media: #a7e8e9;
  --color-embedded: #d7cafa;
  --color-root-accent: #f2536d;
  --color-metadata-accent: #6070c9;
  --color-text-level-accent: #969400;
  --color-grouping-accent: #e36924;
  --color-forms-accent: #479324;
  --color-sectioning-accent: #777a00;
  --color-tabular-accent: #c97850;
  --color-interactive-accent: #978b98;
  --color-media-accent: #00aeb0;
  --color-embedded-accent: #7956f7;
  --color-toggle-border: #dfe2eb;
  --color-toggle-background: var(--color-page);
  --color-toggle-thumb: var(--color-surface);
  --color-modal-backdrop: #03040dbf;
  --shadow-card: 0 5px 20px rgb(36 41 56 / 5%);
  --shadow-element: 0 8px 18px rgb(36 41 56 / 17%);
}

[data-theme='dark'] {
  --color-page: #070816;
  --color-surface: #111326;
  --color-text: #eff3ff;
  --color-heading: #ffffff;
  --color-muted: #b4bbd4;
  --color-subtle: #8d96b6;
  --color-faint: #a6afd0;
  --color-border: #2b3154;
  --color-focus: #f8ef42;
  --color-focus-ring: #f8ef4240;
  --color-element-text: #eff3ff;
  --color-element-label: #b4bbd4;
  --color-root: #10121d;
  --color-metadata: #10121d;
  --color-text-level: #10121d;
  --color-grouping: #10121d;
  --color-forms: #10121d;
  --color-sectioning: #10121d;
  --color-tabular: #10121d;
  --color-interactive: #10121d;
  --color-media: #10121d;
  --color-embedded: #10121d;
  --color-root-accent: #ff729d;
  --color-metadata-accent: #a5b0ff;
  --color-text-level-accent: #f8ef42;
  --color-grouping-accent: #ffad74;
  --color-forms-accent: #9aff9d;
  --color-sectioning-accent: #e6ff64;
  --color-tabular-accent: #ffc0a6;
  --color-interactive-accent: #f3daff;
  --color-media-accent: #70fffa;
  --color-embedded-accent: #cab2ff;
  --color-toggle-border: #343b5d;
  --color-toggle-background: #080b1c;
  --color-toggle-thumb: #f8ef42;
  --color-modal-backdrop: #03040dd9;
  --shadow-card: 0 5px 20px rgb(0 0 0 / 35%);
  --shadow-element: 0 8px 22px rgb(0 0 0 / 45%);
}
